.Bandle-City {
  /* background-image: url(../pictures/bandle_city_crest_icon.png); */
  background-color: red;
}

.Bilgewater {
  /* background-image: url(../pictures/bilgewater_crest_icon.png); */
  background-color: green;
}

.Demacia {
  /* background-image: url(../pictures/demacia_crest_icon.png); */
  background-color: brown;
}

.Ionia {
  /* background-image: url(../pictures/iona_crest_icon.png); */
  background-color: orange;
}

.Ixtal {
  /* background-image: url(../pictures/ixtal_crest_icon.png); */
  background-color: purple;
}

.Noxus {
  /* background-image: url(../pictures/noxus_crest_icon.png); */
  background-color: blue;
}

.Piltover {
  /* background-image: url(../pictures/piltover_crest_icon.png); */
  background-color: black;
}

.Shadow-Isles {
  /* background-image: url(../pictures/shadow_isles_crest_icon.png); */
  background-color: yellow;
}

.Shurima {
  /* background-image: url(../pictures/shurima_crest_icon.png); */
  background-color: pink;
}

.Targon {
  /* background-image: url(../pictures/mt_targon_crest_icon.png); */
  background-color: gray;
}

.The-Freljord {
  /* background-image: url(../pictures/freljord_crest_icon.png); */
  background-color: white;
}

.The-Void {
  /* background-image: url(../pictures/void_crest_icon.png); */
  background-color: aqua;
}

.Zaun {
  /* background-image: url(../pictures/zaun_crest_icon.png); */
  background-color: darkblue;
}
