main {
  background: wheat;
  animation: fadeIn 0.4s;
  padding: 200px 0 0;
}

.background-main {
  /* background-image: url("../pictures/dragon.webp"); */
  background-color: gray;
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: repeat-y;

  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 5vw;
  grid-row-gap: 0px; */
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  padding: 1em;
}

@media (min-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 1500px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

.grid-item {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  padding: 1.5em;
  background-color: white;
  transition: 0.5s;
  animation: fadeIn 0.5s;
  cursor: pointer;
}

.grid-item:hover {
  box-shadow: 0 8px 16px 0 rebeccapurple;
}

.grid-item img {
  width: 100%;
  height: px;
  object-fit: cover;
}

.grid-item p {
  margin: 0.3em 0;
}

.grid-container .btns {
  padding: 1em 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.grid-container .btns button {
  width: 100%;
}

/* ====== Dialog ======== */

form {
  margin: 2em auto 0;
  background-color: white;
  padding: 1em 1em 2em;
  text-align: center;
}

button {
  font-weight: 300;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 0;
  color: wheat;
  background-color: rebeccapurple;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 0.5em 1em;
  width: 100%;
  max-width: 380px;
  display: grid;
  margin: auto;
}

.close-btn input {
  margin: 1em auto;
  width: 100%;
  max-width: 350px;
  padding: 1em;
  border: 2px solid rebeccapurple;
  display: block;
  background: whitesmoke;
}

dialog {
  border-color: rebeccapurple;
  background-color: white;
  width: 30vw;
  padding: 2em 1em;
}

dialog::backdrop {
  background: rgb(172, 198, 201, 0.8);
}

.dialog-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

dialog h4 {
  margin-bottom: 0;
}

dialog ul {
  margin: 0.5em 0 1em;
  padding-inline-start: 1.5em;
}

dialog p {
  margin: 0.5em 0 1em;
}
