header {
  background-color: white;
  color: black;
  padding: 1em;
  position: fixed;
  top: 0;
  left: 0;
  width: 90%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.background-header {
  background-color: purple;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  /* background-image: url("../pictures/header.jpg"); */
  background-repeat: no-repeat;
  opacity: 1;
  background-size: cover;
}
