header {
  background-color: white;
  color: black;
  padding: 100px;
  position: fixed;
  top: 10;
  left: 10;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.background-header {
  background-color: wheat;
  font-weight: 700;
  text-decoration: none;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 2px;
  /* background-image: url("../pictures/header.jpg"); */
  background-repeat: no-repeat;
  opacity: 1;
  background-size: cover;
}

.sex {
  margin-top: 5px;
  margin-bottom: 5px;
}
