header {
  background-color: white;
  color: black;
  /* padding: 1em; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-height: 100vh;
}

.background-header {
  background-color: wheat;
  font-weight: 700;
  text-decoration: none;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 2px;
  /* background-image: url("../pictures/header.jpg"); */
  background-repeat: no-repeat;
  opacity: 1;
  /* background-size: cover; */
}

.sex {
  margin-top: 5px;
  margin-bottom: 5px;
}

.create-champ-bt {
  grid-area: 5 /5 /5 / 5;
}
