footer {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(240, 205, 116);
  color: black;
  padding: 1em;
  text-align: center;
  padding: 150px;
  background-position: center;
}
footer h2 {
  color: aliceblue;
  padding-top: 200px;
  padding-bottom: 0px;
}

.background-footer {
  background-image: url("../pictures/Different-Lanes-LoL.png");
  opacity: 1;
  background-position: center;
  background-size: cover;
}
