body {
  z-index: 1;
  background-color: chartreuse;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: black;
  text-decoration-line: underline;
  font-size: 2em;
  text-align: center;
}
