main {
  z-index: 999;
  border: solid 1px;
  background-color: rgb(34, 33, 33);
}

.grid-container {
  z-index: 999;
  color: orange;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  padding: 2em;
  text-align: center;
}
